/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts

@import url("https://fonts.googleapis.com/css2?family=Cardo");
@import url("https://fonts.googleapis.com/css2?family=Alata");

@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.category,
p {
  font-family: "Roboto", sans-serif;
  color: #e6e6e6;
  line-height: 1.65;
  font-size: 1.025em;
  letter-spacing: 0.6px;
}

.navbar-title,
.nav-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Expletus Sans", cursive;
  color: #e6e6e6;
}

.navbar-title {
  font-weight: 700;
}

.nav-link {
  font-weight: 300;
}

.element.style {
  width: 10cm;
  height: 10cm;
}

$link-color: #cf7769;
$toc-font-size: 12px;
$font-size-root: 16px;
$input-border-radius: 20px;
// Default is 50 for navbar
$navbar-height: 40px;

$h1-font-family: "Expletus Sans", cursive;
$body-bg: #121212;
$body-color: #f5f5f5;
$navbar-bg: $body-bg;
$code-block-bg: #3c3c3c;
